@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: poppins;
}

body {
    background-color: black
}

.left {
    width: 25vw;
    background-color: black
}

.right {
    width: 75vw;
    background-color: black
}

.home {
    border-radius: 10px;
    margin: 10px;
    padding: 15px 15px 20px 15px;

}

.logo {
    height: 30px;
    padding: 4px 12px;
}

.home li {
    display: flex;
    padding: 4px 12px;
    margin-top: 15px;
    gap: 20px;
    font-weight: 700;
    color: darkgray;
    font-size: 15px;
}

.home ul li:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    color: white;
    cursor: pointer;
}

li img {
    width: 24px;
    height: 24px;
}

.library {
    border-radius: 10px;
    margin: 10px;
    padding: 15px 15px 20px 15px;
    min-height: 66vh;
    position: relative;
}


.hedaer {
    display: flex;
    justify-content: space-between;
    padding-left: 4px;
}

.hedaer:hover {
    cursor: pointer;
}

.hedaer img {
    width: 24px;
    height: 24px;
}

.hedaer span {
    margin-left: 10px;
    font-weight: 600;
    color: darkgray;
    font-size: 15px;
}

.hp1 {
    align-items: center;
    display: flex;
}

.pls_btn {
    cursor: pointer;
    filter: invert();
}

.pls_btn:hover {
    filter: invert();
    background-color: #1a1a1a;

}

.footer {
    display: flex;
    font-size: 10px;
    gap: 13px;
    position: absolute;
    bottom: 0;
}

.footer a {
    color: gray;
    text-decoration: none;
}

.right {
    border-radius: 10px;
    margin: 10px 10px 10px 0px;
    background-color: #1a1a1a;
    position: relative;
}

.header {
    justify-content: space-between;
    background-color: #111111;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    height: 45px;
}

.sign_btn {
    padding: 10px 15px;
    border-radius: 25px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: rgb(118, 114, 114);
    font-size: 15px;
}

.sign_btn:hover{
    font-size: 16px;
    color: white;
}

.login_btn {
    padding: 10px 25px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.spotifyPlaylist {
    margin: 10px 20px 10px 20px;
    color: white;
}

.cardContiner {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    max-height: 66vh;
    overflow-y: scroll;
    margin-top: 15px;
}

.card {
    width: 150px;
    padding: 10px;
    position: relative;
}

.card img {
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.card p{
    font-size: smaller;
    font-weight: 400;
}
.card:hover {
    background-color: #252525;
    border-radius: 10px;
    cursor: pointer;
}

.card:hover .play_btn{
    opacity: 1;
    top: 113px;
}

.play_btn {
    width: 20px;
    height: 20px;
    background-color: #00d66b;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 123px;
    right: 19px;
    opacity: 0;
    transition: 0.2s all ease-in-out;
}

.playbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #00d66b;
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
}

.playbtn{
    display: flex;
    gap: 10px;
}

.songsList{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.5px solid #00d66b;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
}

.songName{
    gap: 15px;
}

.playNow{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}